/* pages/tutorial/crochet-basic/index.wxss */
.tutorial-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-inline: 20px;
    padding-bottom: 48px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
  }

.tutorial-part{
  display: flex;
  flex-direction: column;
  gap: 12px;
  .title{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: var(--ckt-gray-11);
    position: relative;
    padding-left: 12px;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 4px;
      height: 18px;
      background-color: var(--ckt-theme-1);
      border-radius: 2px;
    }
    .desc{
      font-size: 12px;
      font-weight: normal;
      color: var(--ckt-gray-6);
      display: block;
      margin-top: 4px;
    }
  }
}

.tutorial-card-list{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 8px;
}