/* pages/tutorial/components/tutorial-card/index.wxss */
.tutorial-card {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    &.full{
      height: 240px;
    }
    &.disabled{
      pointer-events: none;
      opacity: 0.5;
    }
}

/* 书本容器 */
.book-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    background-color: var(--ckt-gray-2);
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 10%;
    //     height: 100%;
    //     background-color: var(--ckt-gray-4);
    // }
}

/* 左书页 */
.book-page-left{
    border-radius: 12px 0 0 12px;
    border-right: 1px solid var(--ckt-gray-4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

/* 右书页 */
.book-page-left,
.book-page-right {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    flex-shrink: 0;
}

.book-page-right{
    border-radius: 12px;
    overflow: hidden;
    .tutorial-card-title{
      font-size: 32rpx;
      padding: 0;
    }
}

.tutorial-card-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 16rpx;
  opacity: 0.25;
  z-index: 0;
}

/* 标题样式 */
.tutorial-card-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--ckt-gray-11);
    line-height: 1.4;
    white-space: wrap;
    padding: 20px;
}

/* 内容样式 */
.tutorial-card-content {
    font-size: 13px;
    color: #6c757d;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 按钮样式 */
.tutorial-card-button {
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0;
    font-size: 14px;
    height: 36px;
    padding-inline: 16px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ckt-gray-11);
    color: var(--ckt-gray-0);
    &:not([size=mini]){
        width: fit-content;
    }
}

/* 书页内容布局 */
.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--ckt-gray-0);
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 80%;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, #fff 50%,rgba(255,255,255,0));
      z-index: 1;
    }
}

.book-page-left .page-content{
  position: relative;
  padding: 24rpx;
  border-top-left-radius: 24rpx;
  border-bottom-left-radius: 24rpx;
}

.page-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    padding: 16px;
    padding-top: 48px;
    z-index: 2;
}