/* pages/tutorial/crochet/crochet-symbol-table/index.wxss */
.mcpage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mcpage-content {
  flex: 1;
  height: 1%;
  width: 100%;
  display: flex;
  padding: 12px;
  padding-bottom: env(safe-area-inset-bottom,12px);
  box-sizing: border-box;
}

.table-container{
  position: relative;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  border: 1px solid var(--ckt-gray-3);
  border-radius: 12px;
  overflow: auto;
}

.table-content{
  min-width: 100%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: var(--ckt-gray-12);
  font-size: 14px;
}

.table-header{
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  background-color: var(--ckt-gray-1);
  text-align: center;
  font-weight: bold;
  z-index: 1;
}

.row{
  display: flex;
  border-top: 1px solid var(--ckt-gray-3);
}

.cell{
  flex: 2;
  padding: 8px 12px;
  &:not(:first-child){
    border-left: 1px solid var(--ckt-gray-3);
  }
  &:nth-child(1),
  &:nth-child(2){
    width: 48px;
    flex: unset;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cell-path{
  width: 48px;
  height: 48px;
  background-color: var(--ckt-gray-12);
  margin-inline: auto;
  transform: scale(0.6);
}

.table-body{
  display: flex;
  flex-direction: column;
}